<div class="nav navbar-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= link_to("BuBuTour", pages_path) %></h1>
        <ul class="nav nav-pills navbar-right">
          <li> <%=link_to("How It Works","#") %> </li>
          <li> <%=link_to("Browse a Tour", tours_path) %></li>
          <li> <%=link_to("Find a Tour guy", users_path)%></li>
          <% if user_signed_in? %>
            <li> <%=link_to("Sign out", destroy_user_session_path, method: :delete) %></li>
          <% else %>
            <li> <%=link_to("Sign in", new_user_session_path) %></li>
          <% end %>
        </ul>
      </div>
      <hr>
    </div>
  </div>
</div>
